.header
    text-align: center
    font-size: 25px

.imageContainer
    display: inline-block
    vertical-align: middle

.Inputhome
    text-align: center

.setCenter
    text-align: center
    
.btntarot
