.header 
    text-align: justify
    position: absolute
    top: 40vh
    right: 40%
    font-size: 25px
.Inputhome
    position: absolute
    top: 45vh
    right: 38%
    text-align: center
    width: 250px
.btntarot
    position: absolute
    top: 50vh
    right: 41%
