.headerName
    text-align: center

.mainContainer
    margin-top: 64px
    .addBeerContainer
        margin: 32px 32px
        .btnAddBeer
            width: 100%

.lottieContainer
    height: 50vh
    max-height: 500px
    text-align: center

.cardList
    text-align: center

.btnAction
    margin-top: 64px
    display: flex

    .btnPrevious

    .btnNext
        margin-left: auto
