@import 'src/styles/breakpoint'

$header_height: 64px
$footer_height: 64px

.btnPrevious
    background: #0F172A !important

.btnNext
    background: #0F172A !important

.antHeader
    display: flex
    color: white !important
    height: 64px !important
    .toggleBox
        color: white !important
        margin-left: auto

.antLayout
    min-height: calc(100vh - #{$header_height + $footer_height}) !important
    background: #E5E5E5 !important

    @include breakpoint(lg)
        padding: 64px

    @include breakpoint(md)
        padding: 32px

    @include breakpoint(sm)
        padding: 16px

    @include breakpoint(xs)
        padding: 8px

.antFooter
    text-align: center
    height: 64px !important
    background: #ADADAD !important
